@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;0,700;0,800;0,900;1,100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    background-color: white;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    text-decoration: none;
    color: white;
}

.Header {
    padding: 1% 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: url("./alex-haney-CAhjZmVk5H4-unsplash.jpg"); */
    /* background: #29339B; */
    background: rgb(18, 167, 226);
    color: white;
    border-bottom: 5px solid rgb(175, 19, 214);
}

.btn-group {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.btn-group .btn {
    border: 2px solid black;
    border-radius: 8px;
    padding: 0.5em 1.5em;
    font-size: 0.75rem;
    font-weight: 700;
    background-color: rgb(175, 19, 214);
    color: whitesmoke;
    margin: .3em 0em;
}

.btn-group .signup-btn {
    background-color: white;
    border: 2px solid rgb(175, 19, 214);
    color: rgb(175, 19, 214);
    /* BLUE: #0003ba; */
}

.login-btn {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
}

.login-btn:hover {
    background-color: whitesmoke;
    color: rgb(175, 19, 214);
    transition: 0.3s ease;
}

.signup-btn {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    text-decoration: none;
}

.signup-btn:hover {
    border: 2px solid black;
    color: whitesmoke;
    background-color: rgb(175, 19, 214);
    transition: 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: black;
    transition: 0.5s ease;
}

.MainContainer {
    padding: 2% 5%;
}


.Display {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.filters-container {
    display: flex;
    gap: 20px;
    padding: 0px 25px;
    background-color: red;
    font-size: 0.8rem;
    justify-content: flex-start;
    align-items: center;
    overflow-x: scroll;
}

.restaurant {
    border: 1px solid black;
    padding: 10px;
}

.Search {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    justify-content: flex-start;

}

.SearchContainer {}


#getRestaurantButton {
    border-radius: 10px;
    background-color: whitesmoke;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 8px;
}

#getRestaurantButton:hover {
    background-color: grey;
}

#getRestaurantButton:active {
    background-color: black;
    color: white;
}

#searchBar {
    border-radius: 10px;

    padding: 10px;
}

.restImage {
    max-width: 300px;
    height: auto;

}

.img {
    width: 200px;
    height: auto;
}



.checkbox {
    padding-right: 5px;

}